body{
    height: 100vh;
    width: 100vw;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
   gap: 100px;
}